.slider-popup
    .overlay
    .slider-popup__wrap
        .swiper-container.slider-popup__container
            .swiper-pagination
            .swiper-wrapper
                .swiper-slide.slider-popup__slide
                    .question
                        h2.question-h2 как дела?
                        button.slider-popup__button
                            span.slider-popup__button-content.false Не правильно
                        button.slider-popup__button
                            span.slider-popup__button-content.true Правильно

                        .box
                .swiper-slide.slider-popup__slide
                    .question
                        h2.question-h2 как дела?
                .swiper-slide.slider-popup__slide
                    .question
                        h2.question-h2 как дела?
                .swiper-slide.slider-popup__slide 4
                .swiper-slide.slider-popup__slide 5
                .swiper-slide.slider-popup__slide 6
                .swiper-slide.slider-popup__slide 7
                .swiper-slide.slider-popup__slide 8
                .swiper-slide.slider-popup__slide 9
                .swiper-slide.slider-popup__slide 10