section.b-warning
    .container
        p.b-warning__text Имеются противопоказания. Необходимо ознакомиться с инструкцией по применению или получить консультацию специалиста
        p.b-warning__descr Все претензии по содержанию данного промоционного материала, а также сообщения о нежелательныхявлениях направляются в ООО “ЛЕО Фармасьютикал Продактс” по адресу 125315 Россия, Москва, Ленинградский проспект 72, корпус 2 или по телефону +7 (495) 789 1160. <a href="#" class="privacy-policy">Политика конфиденциальности </a>