.b-header .container {
  height: 100%;
}

.b-header {
  position: relative;
  background: linear-gradient(to right, #1e5da4 0%,#009cca 50%);
  height: vie(70, xl);

  &__wrap {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo {
    width: vie(190, xl);
    margin-right: vie(176, xl);
  }

  &__nav {
    height: 100%;
  }

  &__nav-list {
    display: flex;
    height: 100%;
  }

  &__nav-item {
    margin-right: vie(40, xl);
    height: 100%;
  }

  &__nav-link {
    font-family: $gm;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: vie(22, xl);
    border-bottom: vie(5, xl) solid transparent;
    @include trs();

    &--active {
      border-bottom: vie(5, xl) solid #53d4f2;
    }

    &:hover {
      border-bottom: vie(5, xl) solid #53d4f2;
    }
  }
  
  &__socials {
    height: 100%;
    margin-left: auto;
    position: relative;
    z-index: 3;
  }

  &__socials-list {
    height: 100%;
    display: flex;
  }

  &__socials-item {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: vie(25, xl);
  }

  &__socilas-link {
    display: flex;
  }

  &__socilas-svg {
    width: vie(25, xl);
  }

  &__right-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: vie(300, xl);
    background-color: #1e5ca4;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    z-index: 1;
  }
}