.slider-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  &__wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    width: vie(750, xl);
    height: vie(503, xl);
    background-color: #fff;
    transform: translate(-50%, -50%);
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  &__slide {
    padding-top: vie(80, xl);
  }

  &__button {
    position: relative;
    z-index: 20;
  }

  .swiper-pagination {
    position: absolute;
    top: 0;
  }

}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}

.bullet-passed {
  background-color: red;
}

.question {
  position: absolute;
  min-height: vie(100, xl);
  width: 100%;
  background-color: blue;
  top: 0;
  text-align: center;
}

.question-h2 {
  padding-top: vie(40,xl);
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  display: none;
}

.box-active {
  display: block;
}