.b-videos {
  background-color: #01152d;
  background-image: url("../img/shadow.png");
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: vie(40, xl);
  padding-bottom: vie(40, xl);

  &__title {
    text-align: center;
    font-size: vie(34, xl);
    color: #fff;
    font-weight: 400;
    margin-bottom: vie(40, xl);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__video-wrap {
    min-width: vie(620, xl);
    width: vie(620, xl);
    margin-right: vie(20, xl);
  }

  &__group {
    min-width: vie(520, xl);
    width: vie(520, xl);
    display: flex;
    flex-wrap: wrap;
  }

  &__poster {
    opacity: 1;
    cursor: pointer;
    @include trs();

    &:hover {
      opacity: 0.7;
    }
  }

  &__poster--min {
    width: 47%;
    height: vie(200, xl);
    margin-right: vie(15, xl);
  }

  &__descr--min{
    font-size: vie(16, xl);
    color: #fff;
    margin-top: vie(8, xl);
  }

  &__poster-img {
    object-fit: contain;
  }

  &__descr--big {
    font-size: vie(25, xl);
    color: #fff;
    font-weight: 300;
    margin-top: vie(15, xl);
  }

  &__poster-img-wrap {
    position: relative;
  }

  &__poster-number {
    font-family: $gb;
    font-size: vie(26, xl);
    color: #fff;
    position: absolute;
    top: vie(24, xl);
    left: vie(24, xl);

    &--min {
      font-size: vie(15, xl);
      left: vie(10, xl);
      top: vie(12, xl);
    }
  }

  &__play-icon {
    display: block;
    position: absolute;
    bottom: vie(45, xl);
    left: vie(27, xl);

    &--big {
      width: vie(48, xl);
    }

    &--min {
      width: vie(28, xl);
      bottom: vie(16, xl);
      left: vie(12, xl);
    }
  }

  &__button {
    margin-top: vie(12, xl);
    @include trs();
  }
}